/.idea/
buildEnv/notes
buildEnv/helm/values.yaml
buildEnv/helm/values-cez.yaml

testWorkloads/otelcol
testWorkloads/playground
buildEnv/helm/values-se-lab.yaml
buildEnv/helm/values-test.yaml
buildEnv/helm/values-ceer1.yaml
buildEnv/helm/values-ceer.yaml

testWorkloads/dotnet/MyFirstApp/obj
testWorkloads/dotnet/MyFirstApp/bin
testWorkloads/fso-finance
testWorkloads/local
testWorkloads/java/upstream/upstream-0.0.1-SNAPSHOT.jar.bck
testWorkloads/java/downstream/downstream-0.0.1-SNAPSHOT.jar.bck
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/build/opentelemetry-webserver-sdk-x64-linux.tgz
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/build/agent
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/build/opentelemetry-cpp-contrib
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/conf/opentelemetry_module.conf.template
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/helpers/nginxConfPatcher/nginx_out.conf
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/helpers/nginxConfPatcher/nginx.conf
buildEnv/instrumentationImages/otelSDK/webserverAgentImage/Dockerfile-local-build
testWorkloads/nginxIngress/
buildEnv/.vscode
buildEnv/helm/testValues

buildEnv/helm/testValues1

apis/
local/
local-contid/
v2/
testWorkloads/nodejs/testserver/node_modules
testWorkloads/customErrorPlugin/
testWorkloads/customErrorPlugin.zip
testWorkloads/dotnet.zip
